<div class="container">
  <h1>Main Form</h1>
  <form
    class="form"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-control">
      <label class="form-label" for="firstName">Имя</label>
      <input
        type="text"
        class="form-input"
        id="firstName"
        placeholder="Иван"
        formControlName="firstName"
      >
    </div>
    <div class="form-control">
      <label class="form-label" for="lastName">Фамлия</label>
      <input
        type="text"
        class="form-input"
        id="lastName"
        placeholder="Иванов"
        formControlName="lastName">
    </div>
    <div class="form-control">
      <label class="form-label" for="codeWord">Кодовое слово</label>
      <input
        type="text"
        class="form-input"
        id="codeWord"
        placeholder="Колбаса"
        formControlName="codeWord"
      >
    </div>
    <div class="form-control">
      <app-tabs formGroupName="shipping"></app-tabs>
    </div>
    <button type="submit" class="form-button">Далее</button>
  </form>
</div>
