<div class="container">
  <h1>Main Form</h1>
  <form
    class="form form_main"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-control">
      <label class="form-label" for="firstName">Имя</label>
      <input
        type="text"
        class="form-input"
        id="firstName"
        placeholder="Иван"
        formControlName="firstName"
      >
    </div>
    <div class="form-control">
      <label class="form-label" for="lastName">Фамлия</label>
      <input
        type="text"
        class="form-input"
        id="lastName"
        placeholder="Иванов"
        formControlName="lastName">
    </div>
    <div class="form-control">
      <label class="form-label" for="codeWord">Кодовое слово</label>
      <input
        type="text"
        class="form-input"
        id="codeWord"
        placeholder="Колбаса"
        formControlName="codeWord"
      >
    </div>
    <div class="form-control">
      <h2>Варианты доставки</h2>
      <hr>
      <app-delivery formGroupName="shipping">
        <app-delivery-type label="Доставка курьером" [defaultActive]="true">
          <app-delivery-courier #type></app-delivery-courier>
        </app-delivery-type>
        <app-delivery-type label="Забрать в офисе">
          <app-office  #type></app-office>
        </app-delivery-type>
        <app-delivery-type label="Пункт выдачи">
          <p #type>Вы можете забрать в пункте выдачи по адресу: дер.Пупки д.10</p>
        </app-delivery-type>
      </app-delivery>
    </div>
    <button type="submit" class="form-button">Далее</button>
  </form>
</div>
